
body{
  background-color: #D6EAF8;
  font-family: Helvetica,Arial,sans-serif;
}

a {
  display: block;
}

.main{
  background-color: white;
  width: 700px;
  margin: auto;
}
.main h1{
  background-color: white;
  text-align: center;
  margin: 0px;
  padding:15px;
}

#cover-display{
  padding: 25px 0px 25px 0px;
  height:300px;
  background-color:;
}
#active-cover{
  display: block;
  max-height: 300px;
  margin: 0px auto;
  border: solid 1px black;
}

#books{
  width: 100%;
  max-width: 700px;
  text-align: left;
  border: 1px solid DimGray;
  border-spacing: 0px
}

#books tr:hover{
  background-color: Gainsboro;
}

th,td{
  border: 1px solid gray;
  padding: 10px;
}

nav a{
  display: block;
}

a:visited{
  color: gray;
}

footer{
  color: gray;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: .5em;
  font-family: Helvetica,Arial,sans-serif;
}
